{% extends "my-project::email-skeleton.twig" %}

{% block body %}
    Salut {{ user.userName }},<br/>
    <br/>
    Merci de t'être inscrit sur mon serveur, la première étape consiste à valider ton email en suivant ce lien:<br/>
    <a href="{{ link }}" target="_blank">{{ link }}</a><br/>
    <br/>
    Ensuite il te faudra attendre une validation de ma part pour accéder aux téléchargements ;)<br/>
    <br/>
    Pour rappel les détails de ton compte sont:<br/>
    Nom d'utilisateur: {{ user.userName }}<br/>
    Email: {{ user.email }}<br/>
{% endblock %}